footer {
    width: 100%;
    background-color:$mainColor;
    height: $margen/2;
    margin-top: $margen/20;
    
    .ancho-footer {
        margin-top: $margen/20; }
        .redes {
            display: inline-block; 
                    .bi-facebook {
              @include redes ($fb);
                }
                .bi-whatsapp {
                @include redes ($wp);
                }
               .bi-instagram {
                @include redes ($insta);
             }
            }
}
  