
.fondo {
    background-image: url(/img/8fefe76a14c7163afd417d57e3624271.jpg¿);

    .hero {
        background-image: url(../img/foto-fondo.jpg);
        height: 70vh;

        .animacionTitulo {
          -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

        .bgTextoPrincipal {
            // background-color: rgba(0, 0, 0, 0.404);
            padding: 2px;
            color: white;
            border-radius: 2px; }


            .animacionSubTitulo {
              -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
              animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
    }

    @-webkit-keyframes tracking-in-expand-fwd {
      0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-700px);
                transform: translateZ(-700px);
        opacity: 0;
      }
      40% {
        opacity: 0.6;
      }
      100% {
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
        opacity: 1;
      }
    }
    @keyframes tracking-in-expand-fwd {
      0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-700px);
                transform: translateZ(-700px);
        opacity: 0;
      }
      40% {
        opacity: 0.6;
      }
      100% {
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
        opacity: 1;
      }
    }
    .logo-ppal{
      color: aqua;
      font-family: 'Rock Salt', cursive;
    }

    .scale-up-center{animation:scale-up-center 10s cubic-bezier(.39,.575,.565,1.000) infinite alternate-reverse both}



@keyframes scale-up-center{0%{transform:scale(.8)}100%{transform:scale(1.3)}}
}

}    