@media (max-width: 575.98px) { 
  .mt-mobile {
    margin-top: 2rem; }
 .logo-media{
  font-size: 35px;
}
.alto-icono{
  height: 15vh ;
  width: 15vh;;
}
}

@media (max-width: 767.98px) { 
  .logo-media{
    font-size: 35px;
  }
  .alto-icono{
    height: 15vh ;
  width: 15vh;;
}
}

@media (max-width: 991.98px) { 
.logo-media{
  font-size: 35px;
}
.alto-icono{
  height: 15vh ;
  width: 15vh;;
}
}

@media (max-width: 1199.98px) { 
    .logo-media{
      font-size: 35px;
    }
  .alto-icono{
   height: 15vh ;
   width: 15vh;
}
}

@media (max-width: 1399.98px) {
.logo-media{
  font-size: 40px;
}
.alto-icono{
  height: 15vh ;
  width: 15vh;
}
.logo-libro{
  height: 6;
}
}

@media (max-width: 2000px) {
  .logo-media{
    font-size: 40px;
  }
  .alto-icono{
    height: 15vh ;
    width: 15vh;
  }
  .logo-libro{
    height: 6;  
  }
  }
  