@media (max-width: 576px) {
    .mt-mobile {
      margin-top: 2rem; } }


      // `xs` returns only a ruleset and no media query
// ... { ... }

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { .header{
  z-index: 5;
  
}
.mtop{
  margin-top: 15rem;
}

}

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
  .header{
    z-index: 15;
    
  }
  .mtop{
    margin-top: 5rem;
  }
  .mbot{
    margin-bottom: 10rem;
  }
  

  
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { .header{
  z-index: 1;
  
}
.mtop{
  margin-top: 15rem;
}
.mbot{
  margin-bottom: 10rem;
}
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 
  .header{
    z-index: 1;
    
  }.mtop{
    margin-top: 15rem;
  }
  .mbot{
    margin-bottom: 12rem;
  }
  }


// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
//   .header{
//   z-index: 1;
  
// }
.mtop{
  margin-top: 15rem;
}
}
  