@mixin reset{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin redes ($hover){
    font-size: $margen/7;
    margin-left: $margen/40;
    margin-right: $margen/40;
    color: #010101; 
        &:hover {
        color: $hover; }
        }

 @mixin background-query($background,$vista) {
         body{
         @if $vista == desktop {
             @media only screen and (max-width: 1024px){
                background-color: $background;
             }

         }
         @else if $vista == tablet{
             @media only screen and (max-width:767px){
                 background-color: $background;
             }
         }
         @else if $vista == mobile {
             @media only screen and (max-width: 576px){
             background-color: $background;
         }
         }

         @else {
             background-color: $background;
         }
     }
 }
    
